img {
    width: 100vh;
}

.mt-10 {
    height: 100vh;
}

.slider-btn {
    background-color: lightgray;
    border-radius: 50%;
}

.btn-position-next {
    position: absolute;
    bottom: -100vh;
    left: 565px;
    z-index: 10;
}

.btn-position-prev {
    position: absolute;
    top: 0px;
    left: 565px;
    z-index: 10;
}

.position-img {
    position: absolute !important;
    top: 0;
    left: 295px;
    bottom: 0;
    display: none;
}